
*{
    margin: 0;
    padding: 0;    
}

#root{
    background-color: #f7f5f2;
}

/* Header Navigation Bar*/
.navbar{
    box-shadow: 2px 1px 10px #ebe2e2;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    font-family: cursive;
    font-size: 1.5rem!important;
    font-weight: 600;
    color: #42855b!important;
    cursor: pointer;
    text-shadow: 2px 3px 4px #90b77d;
}
.nav-link{
    padding: 0 21px;
    font-size: 16px;
    text-decoration: none;
    font-family: system-ui;
    color: #444941;
}
.active{
    background-color: #42855b;
    color: #ffffff!important;
}

/* Header Styling */
.headerStyle{
    display: grid;
    grid-gap: 1rem;
    margin: 3rem;
    justify-items: center;
    align-items: center;
    
}
.search{
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 8px #0f5132;
    background: transparent;
    border-radius: 5px;
    
}
.topicHeader{
    font-family: serif;
    margin-bottom: 1rem;
}
.search-topics{
    width: 100%;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
}
.profile-img{
    max-width: 35%;
}
.profile{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.error-position{
    position: absolute;
    top: 50%;
    left: 40%;
}

/* Section design */
.section-header{
    font-family: auto;
    margin-left: 3rem;
    margin-bottom: -2rem;
}
section{
    display: grid;
    grid-gap: 1rem;
    margin: 3rem;
}

/* Card Design */
.card-style{
    background-color: #ffffff;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    margin: 10px;
    padding: 1rem;
}
.cardTitle{
    text-align: left;
    margin-bottom: 5px;
}
.cardDesc{
    text-align: justify;
    margin-bottom: 5px;
    color: #747473;
}
.cardFooter{
    color: #0e1611;
    font-weight: 600;
}
.cardFooter:hover{
    color:#42855b ;
}

/* Single Blog */
.single-blog{
    margin: 5rem;
    text-align: justify;
}

/* Quiz Container Design */
.quiz-container{
    display: grid;
    grid-gap: 1rem;
    margin: 3rem;
}
.quiz-head{
    margin-bottom: -2rem;
}
.radio-option{
    display: grid;
    grid-gap: 1rem;
}

/*Footer Design*/
.footer{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    background-color: #444941;
    padding: 2rem 0;
}
.footer-text{
    color: #afafaf;
}
.fa-style{
    color: #90b77d;
    margin: 0 .2rem;
    font-size: 20px;
}

/* Toastify Styling */
.blackBackground {
    background: rgb(14, 14, 15);
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}

/* responsive section */
@media screen and (min-width: 600px){
    section{
       grid-template-columns: auto auto;
    
    }
    .footer{
        grid-template-columns: auto auto;
     
     }
}
@media screen and (min-width: 900px){
    section{
       grid-template-columns: auto auto auto auto;
    
    }
    .headerStyle{
        grid-template-columns: auto auto;
        margin: 6rem;
    }
    .quiz-container{
        grid-template-columns: auto auto;
    }
    .radio-option{
        grid-template-columns: auto auto;
    }
}
